<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

		<!-- ==== Bean Definitions here: ====== -->

		<bean id="emp" class="com.mainapp.Employee"></bean>
		
		<!-- Below two beans are explicitly configured to be lazily initialized,
			so even if we use ApplicationContext (which by default eagerly
			initializes beans), they will not be created until they are requested:
		 -->
		<bean id="project" class="com.mainapp.Project" lazy-init="true"></bean>
		<bean id="salary" class="com.mainapp.Salary" lazy-init="true"></bean>

</beans>
