<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

		<!-- ==== Bean Definitions here: ====== -->

		<!-- Default bean scope (i.e. "singleton") applied here: -->
		<bean id="emp" class="com.mainapp.Employee"></bean>

		<!-- "prototype" bean scope: -->
		<bean id="project" class="com.mainapp.Project" scope="prototype"></bean>

		<!-- "singleton" bean scope (explicitly specified): -->
		<bean id="salary" class="com.mainapp.Salary" scope="singleton"></bean>

</beans>
